<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags : unseen area -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="YouTube Contents Monitoring" />
    <meta property="og:description" content="YouTube Contents의 댓글을 실시간으로 불러 옵니다 :)" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.JPG') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!--폰트지정-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Nanum Myeongjo', serif;
        }

        .wrap {
            margin: auto;
            width: 1000px;
        }

        .jumbotron {
            text-align: center;
        }

        .form-post {
            margin: auto;
            width: 800px;
        }

        .button {
            margin: auto;
            width: 100px;
        }

        .monitor {
            margin: auto;
            width: 800px
        }

        #input-box {
            display: none;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        function openclose() {
            if ($('#input-box').css('display') == 'block') {
                $('#input-box').hide();
                $('#btn-input-box').text('Contents Input')
            } else {
                $('#input-box').show();
                $('#btn-input-box').text('Close')
            }
        }

        $(document).ready(function () {
            $('#cards-box').html('');
            listing();
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/monitor",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let monitors = response['monitors'];

                        for(let i = 0; i < monitors.length ; i++){
                            let monitor = monitors[i];

                            // 변수 6개를 꺼내온다 
                            
                            let thumbnail = monitor['thumbnail'];
                            let url = monitor['url'];
                            let title = monitor['title'];
                            let date = monitor['date'];
                            let now = monitor['now']; 
                            let temp_list = monitor['comment'];
                            
                            let comment_list = ''
                            for (let i = 0 ; i < temp_list.length ; i++){

                                comment_list = comment_list + temp_list[i] + '<br>'
                                
                            }
                            
                            make_card(thumbnail, url, title, date, now, comment_list) 
                        }
                    }
                }
            })
        }

        function make_card(thumbnail, url, title, date, now, comment_list) {
            let temp_html = `<div class="monitor" id="monitor">
                                <div class="card" style="width: 50rem;">
                                    <img class="card-img-top" src="${thumbnail}" id="thumbnail" alt="thumbnail">
                                    <div class="card-body">
                                        <a href="${url}" id="title"><p class="text-center"><strong>${title}</strong></a></p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" id="date"><p class="text-center">${date}</li></p>
                                            <li class="list-group-item" id="monitor_when"><span style="color: red;"><p class="text-center">${now}</span></li></p>
                                            
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">Comment</button>
                                            <p></p>
                                            <button type="button" class="btn btn-outline-danger" onclick="delete_monitoring('${now}')">Delete</button>
                                           
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    ${comment_list}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>`
            $('#cards-box').append(temp_html);
        }

        function monitoring(){
            let url = $('#input-url').val();

            if ($('#input-url').val() == '') {
                alert('Please Paste YouTube Link');
            } else {
                alert('Please Hold On...')
            }
            
            $.ajax({
                type: "POST",
                url: "/monitor",
                data: {url_give : url},
                success: function (response) {
                    if (response['result'] == 'success') {
                       let msg = response['msg'];
                       alert(msg);
                        window.location.reload()
                    }
                }
            })
        }
        
        function delete_monitoring(now){
            $.ajax({
                type: "POST",
                url: "/monitor/delete",
                data: {now_give : now},
                success: function (response) {
                    if (response['result'] == 'success') {
                        var delete_monitoring = confirm("확인(예) 또는 취소(아니오)를 선택해주세요.");
                        if (delete_monitoring == true) {
                            alert("삭제하겠습니다");
                            window.location.reload();
                        } else if (delete_monitoring == false) {
                            alert("취소하셨습니다");
                        }
                    }
                }
            });
        }

    </script>
</head>


<body>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4"><span style="font-size:45px;" style="font-weight:bold;">YouTube Contents
                    Monitoring</span></h1>
            <p></p>
            <p class="lead"><span style="font-size:20px;">YouTube 링크를 통해, 실시간 댓글을 불러옵니다</span></p>
            <hr class="my-4">
            </hr>
            <p class="lead">
                <a id="btn-input-box" onclick="openclose()" class="btn btn-dark btn-lg btn-block" href="#"
                    role="button">Contents Input</a>
        </div>

        <div class="form-post" id="input-box">
            <div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Contents URL</label>
                    <input id="input-url" class="form-control" placeholder="Paste YouTube Link">
                </div>

                <div class="button">
                    <button onclick="monitoring()" class="btn btn-primary btn-dark">monitor</button>
                </div>
            </div>
        </div>

        <p></p>

        <div class="monitor" id="monitor">
            <div class="card" id="cards-box" style="width: 50rem;">
                <img class="card-img-top" id="thumbnail" alt="thumbnail">
                <div class="card-body">
                    <h5 class="card-title" id="title" a href="#">Contents title</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="date">date</li>
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                            Comment
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ${comment_list}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                            </div>
                    </ul>
                </div>
            </div>
        </div>    
    </div>

</body>